<%- include header %>

<div class="blogStats">
    文章共-<%= data.total %>-篇&nbsp;|&nbsp;每页-<%= data.pageSize %>-条
</div>

<div id="listRender">
<% data.list.forEach(function( item ) { %>
    <div class="article-list">
        <div class="title"><%= item.title %></div>

        <div class="desc">
            <span>发表于 <time><%= item.createTime.slice( 0, 19 ) %></time> &nbsp;|&nbsp;</span>
            <span><a href="javascript:void(0);"><span>1条评论</span></a> &nbsp;|&nbsp;</span>

            <span>分类于
                <a href="/admin/article/query?categoryId=<%= item.categoryId %>">
                    <span><%= item.category.cateName %></span>
                </a> &nbsp;|&nbsp;
            </span>

            <% if ( item.isComment ) { %>
                <span class="is-disabled openComment" id="<%= item._id %>">
                    <a href="javascript:void(0);">
                        <span>评论已关</span>
                    </a> &nbsp;|&nbsp;
                </span>
            <% } %>

            <% if ( item.isRead ) { %>
                <span class="is-disabled openRead" id="<%= item._id %>">
                    <a href="javascript:void(0);">
                        <span>禁止阅读</span>
                    </a> &nbsp;|&nbsp;
                </span>
            <% } %>

            <span>阅读次数 <%= item.read %></span>
        </div>

        <div class="btn">
            <span class="ok delete on" id="<%= item._id %>">删除 »</span>
            <span class="ok update" id="<%= item._id %>">修改 »</span>
        </div>
    </div>
<% }) %>
</div>

<% if ( data.total > data.pageSize ) { %>
    <div class="icon-page">分页</div>

    <div class="mask hide"></div>
    <div id="page" class="page-warp hide bottomUp">
        <h2>分页</h2>
        <div class="page">
            <div>
            <%
                var total = data.total,
                    pageSize = data.pageSize,
                    page = data.page,
                    url = "", classText = "",
                    len = Math.round( total / pageSize ) + 1;

            for ( var i = 1; i < len; i++ ) {
                url = "/admin/article/query?page=" + i;
                classText = "";
                if ( i === page ) {
                    classText = "on";
                    url = "#";
                }
            %>
            <a class="pageBtn <%= classText %>" href="javascript:void(0);" data-key="<%= i %>"><%= i %></a>
            <% } %>
            </div>
        </div>
    </div>
<% } %>
<div class="notArticleTip <%= data.list.length ? 'hide' : '' %>">暂无文章信息</div>

<script src="/admin/js/article.js"></script>
<%- include footer %>